body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(126, 201, 204);
    padding: 10px
    

    
}

h1{
    text-align: center;
    border-right: solid 1px black;
    border-left: solid 1px black;
    margin-left: 20px;
}

.logo {
    background-color: rgb(126, 201, 204);
    padding: 20px;
    text-align: center;
}

nav {
    width: 100%;
    height: auto;
    background-color: rgb(71, 131, 133);
    margin-bottom: 10px;
    display: flex;
    justify-content: center;    
}

nav ul {
    list-style: none;
    padding-top: 90px;
    margin: 0;
    
    
}


nav ul li {
    display: inline-block; 
    transition: 0.8s all;
    padding: 18px 20px;
    padding: 10px;
    
}

nav ul li:hover {
    background-color: #fff;
}
nav a {
    text-decoration: none;
    color: black;
    
}

.secion1 {
    background-image: linear-gradient(to right, #87ceeb, #4682b4);
    padding: 50px;
    color: black;
    text-align: center;
}

.cursos_destacados {
    margin-top: 20px;
}


.curso_logos {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    
}

.curso_logos img {
    width: 100px;
    height: 100px;
    margin: 0, 10px;
}

.saber_mas {
    background-color:  rgb(126, 201, 204);
    padding: 20px;
    margin-top: 20px;
    text-align: center;
     
}

button {
    background-color: #1b11da;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.profesores {
    margin-top: 40px;
}

.perfil_profesor {
    display: flex;
    align-items: center;
}

.perfil_profesor img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.info1, .info2 {
    border: 1px solid black;
    padding: 20px;
    margin: 10px; 
    flex: 1;
    background-color: rgb(168, 172, 217);
}

.videos_programas {
    margin: 10px;
    padding: 20px;
    background-color: rgb(168, 172, 217);
    display: flex;
    justify-content: space-around;
    
}

.video1 {
    margin-right: 15px;
    background-color:  rgb(126, 201, 204);
    align-content: center;
    text-align: center;
     border-radius: 5%;
}

.video2 {
  margin-right: 15px;
    background-color:  rgb(126, 201, 204);
    align-content: center;
    text-align: center;
    border-radius: 5%;
}

.video3 {
    margin-right: 15px;
    background-color:  rgb(126, 201, 204);
    align-content: center;
    text-align: center;
    border-radius: 5%;
}

h2 {
    text-align: center;
}

footer{
    background-color: rgb(166, 159, 159);
    justify-content: space-between;
    display: flex;
    padding: 10px;
    text-align: left;
    list-style:  none;
    
}




.DeInteres{
    margin-left: 20px;
    border-right: solid 1px black;
    padding-right: 15px;
}



.Portales{
    margin-right: 20px;
    border-right: solid 1px black;
    padding-right: 15px;
    
}

.contactos {
    margin-right: 20px;
    padding-right: 15px;
}

footer h2 {
    text-align: left;

}


footer li {
    border-left: solid 1px black;
    margin-right: 170px;
}
